<!doctype html>
<html lang="en">
 <head>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
	 <meta name="description" content="">
	 <title>Current Trip</title>
	 <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
 </head>

 <body>
	 <!--Navigation bar-->
	 <nav class="navbar navbar-expand-sm navbar-custom">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>


	    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	        <li class="nav-item active">
	          <a class="nav-link" href="homepage.html">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="archive.html">Archive</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
    <!--End nav bar-->
    <div class="container">
     <div class="center text-center">
      <h1 style="color:#86E0B8;">Trip split breakdown</h1>
     </div>
    </div>
    <br><br>
  <!--Insert table here-->
  <div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th style="color:#1DA4B4;" scope="col">x owes y</th>
      <th style="color:#1DA4B4;" scope="col">member1</th>
      <th style="color:#1DA4B4;" scope="col">member2</th>
      <th style="color:#1DA4B4;" scope="col">member3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th style="color:#1DA4B4;" scope="row">member1</th>
      <td style="color:#1DA4B4;">-</td>
      <td style="color:#1DA4B4;">$50.21</td>
      <td style="color:#1DA4B4;"></td>
    </tr>
    <tr>
      <th style="color:#1DA4B4;" scope="row">member2</th>
      <td style="color:#1DA4B4;">$20.75</td>
      <td style="color:#1DA4B4;">-</td>
      <td style="color:#1DA4B4;">$10.00</td>
    </tr>
    <tr>
      <th style="color:#1DA4B4;" scope="row">member3</th>
      <td style="color:#1DA4B4;">$85.40</td>
      <td style="color:#1DA4B4;">$7.90</td>
      <td style="color:#1DA4B4;">-</td>
    </tr>
    </tbody>
  </table>

 <div class="center text-center">
  <div class="btn-group">
    <a href="currentTrips.html" class="btn btn-primary round">Back to Current Trips</a>
    <!-- make this button throw an alert "trip archived!"/ No href needed-->
    <a href="#" class="btn btn-secondary round">Archive this trip</a>
  </div>
 </div>
  </div>
  </body>
</html>
