<!doctype html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
 <meta name="description" content="">
 <title>Tripsplit</title>

 <!-- Bootstrap core CSS -->
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap
.min.css" integrity="sha384-
GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
crossorigin="anonymous">
<link href="../resources/css/my_style.css" rel="stylesheet">
 </head>
 <body>
   <nav class="navbar navbar-expand-sm navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/archive">Archive</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
      </form>
    </div>
  </nav>
<div class="container">
  <div class="text-center">
 <img width="500" src="../resources/images/SplitTrip_updatedColor.png" alt="SplitTrip Logo">
 <p style="color:#59C695;font-size:15px;font-family:helvetica;">Keep all expenses in one place. Split the total with your friends.</p>
<br></br>
<br></br>
   <a href ="/addGroup" class ="btn btn-primary btn-lg round">New Trip</a>
<br></br>
 <a href ="/currentTrips" class="btn btn-secondary btn-lg round">Current Trips</a>
<br></br>
 <a href ="/archive" class="btn btn-info btn-lg round">Archived Trips</a>


</div>
</div>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-
q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
 <script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/poppe
r.min.js" integrity="sha384-
wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>
 <script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.m
in.js" integrity="sha384-
B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"></script>
 <script src="../resources/js/my_scripts.js"></script>
 </body
 </html>
